/*Define your sizes and margin here*/
$sizes: (20) (25) (34) (50) (66) (75) (100);

/*Margin between items, should be under half of your smallest size*/
$margin: 0.5;

/*Defines Breakpoints*/
$tablet: 1024px;
$smartphone: 600px;

/*Standard sizes for breakpoints*/
@mixin fullWidth(){
	width:#{100 - $margin*2}%;
	margin:#{$margin}%;
}
@mixin halfWidth(){
	width:#{50 - $margin*2}%;
	margin:#{$margin}%;
}
@mixin quarterWidth(){
	width:#{25 - $margin*2}%;
	margin:#{$margin}%;
}

/*Generates all width assignments*/
@each $size, $i in $sizes{
	.bw#{$size}{
		width:#{$size - $margin*2}%;
		margin:#{$margin}%;
	}
}

/*Generate query for tablet - any size under 50%, becomes 50%. Any size at or above 50% becomes 100%.*/
@media (max-width:$tablet){
	@each $size, $i in $sizes{
		@if($size < 20){
			.bw#{$size}{@include quarterWidth();}
		}
		@else if($size < 50){
			.bw#{$size}{@include halfWidth();}
		}
		@else{
			.bw#{$size}{@include fullWidth();}
		}
	}
}

/*Generate query for mobile - all sizes take up the full screen width.*/
@media (max-width:$smartphone){
	@each $size, $i in $sizes{
		@if($size < 20){
			.bw#{$size}{@include halfWidth();}
		}
		@else{
			.bw#{$size}{@include fullWidth();}
		}
	}
}

/*Your own styles*/
body{
	margin:0;
	padding:0;
	text-align:center;
}
.wrapper{
	display:block;
	margin:0 auto;
	width:100%;
}
.bw{
	display:block;
	float:left;
	background:red;
	height:250px;
}
