/*Define your sizes and margin here*/
/*Margin between items, should be under half of your smallest size*/
/*Defines Breakpoints*/
/*Standard sizes for breakpoints*/
/*Generates all width assignments*/
.bw20 {
	width: 19%;
	margin: 0.5%;
}

.bw25 {
	width: 24%;
	margin: 0.5%;
}

.bw34 {
	width: 33%;
	margin: 0.5%;
}

.bw50 {
	width: 49%;
	margin: 0.5%;
}

.bw66 {
	width: 65%;
	margin: 0.5%;
}

.bw75 {
	width: 74%;
	margin: 0.5%;
}

.bw100 {
	width: 99%;
	margin: 0.5%;
}

/*Generate query for tablet - any size under 50%, becomes 50%. Any size at or above 50% becomes 100%.*/
@media (max-width: 1024px) {
	.bw20 {
		width: 49%;
		margin: 0.5%;
	}
	.bw25 {
		width: 49%;
		margin: 0.5%;
	}
	.bw34 {
		width: 49%;
		margin: 0.5%;
	}
	.bw50 {
		width: 99%;
		margin: 0.5%;
	}
	.bw66 {
		width: 99%;
		margin: 0.5%;
	}
	.bw75 {
		width: 99%;
		margin: 0.5%;
	}
	.bw100 {
		width: 99%;
		margin: 0.5%;
	}
}

/*Generate query for mobile - all sizes take up the full screen width.*/
@media (max-width: 600px) {
	.bw20 {
		width: 99%;
		margin: 0.5%;
	}
	.bw25 {
		width: 99%;
		margin: 0.5%;
	}
	.bw34 {
		width: 99%;
		margin: 0.5%;
	}
	.bw50 {
		width: 99%;
		margin: 0.5%;
	}
	.bw66 {
		width: 99%;
		margin: 0.5%;
	}
	.bw75 {
		width: 99%;
		margin: 0.5%;
	}
	.bw100 {
		width: 99%;
		margin: 0.5%;
	}
}

/*Your own styles*/
body {
	margin: 0;
	padding: 0;
	text-align: center;
}

.wrapper {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.bw {
	display: block;
	float: left;
	background: red;
	height: 250px;
}
