//Base stylesheet
@import bootwill.sass

/*----------Globals------------*/
@font-face
	font-family: Rockwell
	src: url(fonts/RockwellStd-ExtraBold.woff)

$brandColor1: #FFF
$brandColor2: #000
$tablet: 1023px
$mobile: 720px

=mainFont($size)
	font-size: $size
	text-transform: uppercase
	font-family: Rockwell, Georgia, serif
	margin: 0

h1,h2,h3,h4,h5
	line-height: 1em
p
	line-height: 1.5em

/*----------Navigation------------*/
//Choose how many items you want to float left before the nav splits
$navSplit: 4
nav
	position: fixed
	width: 100%
	top: 0
	z-index: 2
	background: #000
	.scaler
		padding: 0
		font-size: 1rem
		text-align: right
	ul
		list-style-type: none
		padding: 0
		display: inline-block
		vertical-align: middle
		width: 100%
		li
			display: inline-block
			vertical-align:middle
			&:nth-child(-n + #{$navSplit})
				float: left
			&:first-of-type
				a
					margin-left: 0
			&:last-of-type
				a
					margin-right: 0
		a
			display: inline-block
			vertical-align: middle
			color: #FFF
			text-decoration: none
			margin: 0 1rem
			line-height: 3em

			img
				display: block
	//Mobile nav
	@media (max-width: $mobile)
		ul
			li
				display: block
				width: 100%
				text-align: left
				a
					margin: 0



/*----------Header------------*/
header
	width: 100%
	position: relative
	float: left
	color: #FFF
	background: #2b2b2b

	.scaler
		display: table
		height: 80vh
	.centerer
		display: table-cell
		vertical-align: middle
	.textWrap
		font-size: 1rem
		text-align: left
		max-width: 500px
		width: 95%

		h1
			+mainFont(2rem)
		p
			margin: 1rem 0
		@media (max-width: $mobile)
			text-align: center
			margin: 0 auto

/*----------Buttons------------*/
.cta
	border: 0
	outline: 0
	text-decoration: none
	padding: 1rem 2rem
	background: $brandColor2
	color: $brandColor1
	display: inline-block
	text-transform: uppercase
	transition: background 0.3s ease-out, color 0.3s ease-out

	&:hover
		background: $brandColor1
		color: $brandColor2

/*----------Generate the Grid------------*/
.bwWrap
	+buildGrid((10) (20) (25) (30) (40), 6px)

/*----------Base Theming------------*/
body
	margin: 0
	padding: 0
	text-align: center
	background: #000
	font-size: 14px
	font-family: Georgia, serif
.wrapper
	display: block
	margin: 0 auto
	width: 100%
.scaler
	max-width: 1024px
	width: 95%
	margin: 0 auto
	display: table
	font-size: 0
	padding: 3rem 0
.tile
	font-size: 1rem
	display: inline-block
	background: #FFF
	height: 250px
.filterWrap
	width: 100%
	display: flex
	display: -webkit-flex
	flex-flow: row wrap
	-webkit-flex-flow: row wrap
	margin-bottom: 1rem
	div[data-filter]
		+mainFont(1rem)
		color: #000
		display: flex
		display: -webkit-flex
		flex: 1
		-webkit-flex: 1
		flex-direction: column
		-webkit-flex-direction: column
		justify-content: center
		-webkit-justify-content: center
		outline: 3px solid #000
		height: 60px
		background: #cecbcb
		cursor: pointer
.grid
	.scaler
		overflow:hidden
