//Base stylesheet
@import grids.sass

/*----------Config------------*/
$brandColor1: #FFF
$brandColor2: #000
$tablet: 1023px
$mobile: 800px
$cap: 1200px

=mainFont($size)
	font-size: $size
	text-transform: uppercase
	font-family: Rockwell, Georgia, serif
	margin: 0

/*----------Globals------------*/
html
	font-size: 18px
body
	margin: 0
	overflow-y: scroll
h1,h2,h3,h4,h5
	line-height: 1em
p
	line-height: 1.5em
.scaler
	position: relative
	margin: 0 auto
	width: 95%
	max-width: $cap

/*----------Navigation------------*/
#mainNav
	position: absolute
	top: 0
	left: 0
	width: 100%
	z-index: 5
	.scaler
		display: flex
		align-items: center
		padding: 5px 0
		justify-content: space-between

#logo
	img
		display: block

.navBtns
	display: flex
	width: 100%
	justify-content: space-around
	@media (max-width: $mobile)
		width: calc(105% + 2px)
		left: calc(-2.5% - 1px)
		position: absolute
		background: $brandColor2
		color: #FFF
		display: block
		height: 0
		overflow: hidden
		text-align: center
		top: 100%
		transition: height 0.5s ease-out
		a
			display: block
			padding: 1rem 0
			width: 100%

#mobileBtn
	display: none
	position: absolute
	right: 10px
	cursor: pointer
	div
		width: 35px
		height: 5px
		background: red
		margin: 6px 0
		transition: all 0.3s ease-out
		&:first-of-type
			margin-top: 0
		&:last-of-type
			margin-bottom: 0
	@media (max-width: $mobile)
		display: inline-block
		&.open
			~ .navBtns
				height: 100vh
			div:first-child
				transform: rotate(-45deg) translate(-9px, 6px)
			div:nth-child(2)
				transform: rotate(45deg)
			div:last-child
				transform: rotate(45deg) translate(-8px, -8px)
