/*----------Generates a Grid------------*/
/*Generates all width assignments*/
/*----------Globals------------*/
@font-face {
	font-family: Rockwell;
	src: url(fonts/RockwellStd-ExtraBold.woff);
}

h1, h2, h3, h4, h5 {
	line-height: 1em;
}

p {
	line-height: 1.5em;
}

/*----------Navigation------------*/
nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
	background: #000;
}

nav .scaler {
	padding: 0;
	font-size: 1rem;
	text-align: right;
}

nav ul {
	list-style-type: none;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

nav ul li {
	display: inline-block;
}

nav ul li:nth-child(-n + 4) {
	float: left;
}

nav ul li:first-of-type a {
	margin-left: 0;
}

nav ul li:last-of-type a {
	margin-right: 0;
}

nav ul a {
	display: inline-block;
	vertical-align: middle;
	color: #FFF;
	text-decoration: none;
	margin: 0 1rem;
	line-height: 1em;
}

nav ul a img {
	display: block;
}

/*----------Header------------*/
header {
	width: 100%;
	position: relative;
	float: left;
	color: #FFF;
	background: #2b2b2b;
}

header .scaler {
	display: table;
	height: 80vh;
}

header .centerer {
	display: table-cell;
	vertical-align: middle;
}

header .textWrap {
	font-size: 1rem;
	text-align: left;
	max-width: 500px;
	width: 95%;
}

header .textWrap h1 {
	font-size: 2rem;
	text-transform: uppercase;
	font-family: Rockwell, Georgia, serif;
	margin: 0;
}

header .textWrap p {
	margin: 1rem 0;
}

@media (max-width: 720px) {
	header .textWrap {
		text-align: center;
		margin: 0 auto;
	}
}

/*----------Buttons------------*/
.cta {
	border: 0;
	outline: 0;
	text-decoration: none;
	padding: 1rem 2rem;
	background: #000;
	color: #FFF;
	display: inline-block;
	text-transform: uppercase;
	transition: background 0.3s ease-out, color 0.3s ease-out;
}

.cta:hover {
	background: #FFF;
	color: #000;
}

/*----------Generate the Grid------------*/
.bwWrap {
	/*Wrapper to keep elements flush with intended edge and balance top/bottom margin*/
	display: table;
	width: calc(100% + 6px*2);
	margin-left: -6px;
	/*Generate query for tablet - any size under 50%, becomes 50%. Any size at or above 50% becomes 100%.*/
	/*Generate query for mobile - all sizes take up the full screen width.*/
}

.bwWrap .bw10 {
	width: calc(10% - 12px);
	margin: 6px 6px;
}

.bwWrap .bw20 {
	width: calc(20% - 12px);
	margin: 6px 6px;
}

.bwWrap .bw25 {
	width: calc(25% - 12px);
	margin: 6px 6px;
}

.bwWrap .bw30 {
	width: calc(30% - 12px);
	margin: 6px 6px;
}

.bwWrap .bw40 {
	width: calc(40% - 12px);
	margin: 6px 6px;
}

@media (max-width: 1023px) {
	.bwWrap .bw10 {
		width: calc(25% - 6px*2);
		margin: 6px 6px;
	}
	.bwWrap .bw20 {
		width: calc(50% - 6px*2);
		margin: 6px 6px;
	}
	.bwWrap .bw25 {
		width: calc(50% - 6px*2);
		margin: 6px 6px;
	}
	.bwWrap .bw30 {
		width: calc(50% - 6px*2);
		margin: 6px 6px;
	}
	.bwWrap .bw40 {
		width: calc(50% - 6px*2);
		margin: 6px 6px;
	}
}

@media (max-width: 720px) {
	.bwWrap .bw10 {
		width: calc(50% - 6px*2);
		margin: 6px 6px;
	}
	.bwWrap .bw20 {
		width: calc(100% - 6px*2);
		margin: 6px 6px;
	}
	.bwWrap .bw25 {
		width: calc(100% - 6px*2);
		margin: 6px 6px;
	}
	.bwWrap .bw30 {
		width: calc(100% - 6px*2);
		margin: 6px 6px;
	}
	.bwWrap .bw40 {
		width: calc(100% - 6px*2);
		margin: 6px 6px;
	}
}

/*----------Base Theming------------*/
body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: #000;
	font-size: 14px;
	font-family: Georgia, serif;
}

.wrapper {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.scaler {
	max-width: 1024px;
	width: 95%;
	margin: 0 auto;
	display: table;
	font-size: 0;
	padding: 3rem 0;
}

.bw {
	font-size: 1rem;
	display: inline-block;
	background: #FFF;
	height: 250px;
}

.filterWrap {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	margin-bottom: 1rem;
}

.filterWrap div[data-filter] {
	font-size: 1rem;
	text-transform: uppercase;
	font-family: Rockwell, Georgia, serif;
	margin: 0;
	color: #000;
	display: flex;
	display: -webkit-flex;
	flex: 1;
	-webkit-flex: 1;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
	outline: 3px solid #000;
	height: 60px;
	background: #cecbcb;
	cursor: pointer;
}
