//Raised phone layers
$layerCount: 4
=rotateLayer($rotateX, $rotateY, $rotateZ, $rotateDeg, $scaleX, $scaleY, $translateX, $translateY:$translateX)
  transform: rotate3d($rotateX, $rotateY, $rotateZ, $rotateDeg) scale($scaleX, $scaleY) translate3d($translateX, $translateY, 0)
  -webkit-transform: rotate3d($rotateX, $rotateY, $rotateZ, $rotateDeg) scale($scaleX, $scaleY) translate3d($translateX, $translateY, 0)
  transform-origin: top left
  -webkit-transform-origin: top left

.phoneLayers
  position: relative
  width: 100%
  max-width: 600px
  margin: 150px auto 0
  .layerGroup
    position: absolute
    width: 100%
    height: 100%
    top: 7%
  .basePhone
    width: 100%
  img
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
  .layer
    position: absolute
    width: 28%
    left: 65%
    overflow: hidden
    opacity: 0
    +rotateLayer(45,2,27,73.5deg,1.3,2.3,0)
    transition: opacity 0.3s ease-out, margin-top 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out, left 0.3s ease-out, margin-left 0.3s ease-out
    img
      width: 100%
      height: auto
      backface-visibility: hidden
      -webkit-backface-visibility: hidden
      transform: translateZ(0)
    @for $i from 1 through $layerCount
      &:nth-child(#{$i})
        background-color: unquote('##{$i + 1}#{$i + 1}#{$i + 1}')
        transition-delay: unquote('#{($i)/5}s')
        -webkit-transition-delay: unquote('#{($i)/5}s')
        top: -($i - 1)*4%
        z-index: $i

.popOut
  .layer
    @for $i from 1 through $layerCount
      &:nth-child(#{$i})
        opacity: 1
        margin-top: -($i)*4%

.noDelay
  .layer
    transition: top 0.3s ease-out, margin-top 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out, left 0.3s ease-out, margin-left 0.3s ease-out
    transition-delay: 0s!important
    &:not(.active):hover
      +rotateLayer(45,2,27,73.5deg,1.33,2.35,-2.5%,-2.5%)
    &.active
      transform: scale(2, 2) translate(-50%, -2.5%)
      -webkit-transform: scale(2, 2) translate(-50%, -2.5%)
      left: 50%
      top: 0
      margin-top: -19%
      z-index: $layerCount+1

.homeBtn
  position: absolute
  width: 8%
  padding-bottom: 8%
  cursor: pointer
  z-index: $layerCount
  left: 17%
  bottom: 26%
